@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

@import "tailwindcss";

body {
  background-color: #1C2321;
  color: #F9F6F0;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #2E4F41; border-radius: 2px; }